<div class="wrapper" >
    <!-- Sidebar  -->
    <nav id="sidebar" style="background: radial-gradient(54.95% 54.95% at 50% 45.05%, #3B95C7 0%, #1F5979 100%);">
        <div class="sidebar-header" style="background: radial-gradient(54.95% 54.95% at 50% 45.05%, #3B95C7 0%, #1F5979 100%);">
            <div class="logo-container">
                <img src="/assets/images/app-logo.png" alt="app-logo.png">
              </div>
        </div>

        <ul class="list-unstyled components download list-inline mx-auto justify-content-center">

            <li class="m-1"  routerLink="../admin/dashboard" (click)="setFormName('Dashboard')">
                <a>  
                    <img src="/assets/images/dashboard.png" alt="app-logo.png"><span 
                    class="menu-text p-2">Dashboard</span>
                </a>
            </li>

            <li class="m-1" routerLink="../admin/alljob" (click)="setFormName('All Jobs')">
                <a>  
                    <img src="/assets/images/allJob.png" alt="app-logo.png">
                    <span class="menu-text p-2">All Jobs</span>
                </a>
            </li>
            <li class="m-1" routerLink="../admin/technician" (click)="setFormName('Technician')">
                <a>  
                    <img src="/assets/images/technician.png" alt="app-logo.png">
                    
                    <span class="menu-text p-2">Technician</span>
                </a>
            </li>
            <li class="m-1" routerLink="../admin/chat" (click)="setFormName('Chat')">
                <a>  
                    <img src="/assets/images/chat.png" alt="app-logo.png">
                    <span class="menu-text p-2">Chat</span>
                </a>
            </li>
            <li class="m-1" routerLink="../admin/customerrating" (click)="setFormName('Customer Rating')">
                <a>  
                    <img src="/assets/images/star.png" alt="app-logo.png">
                    <span class="menu-text p-2">Customer Rating</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">


                    <span>FormName</span>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto  navbar-toggle" 
                type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                (click)="toggleNavbarCollapsing()"
                aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div >
                    <ul class="nav navbar-nav ml-auto ">
                        <!-- <li class="nav-item active ">
                           
                        </li>
                        <li class="nav-item">
                            <i class="far fa-envelope ml-2 mr-2 mt-2"></i>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-bell ml-2 mr-2 mt-2"></i>
                        </li> -->
                        <li class="nav-item float-right">
                            <span class="">UserName
                                <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                            </span>
                        </li>
                        
                    </ul>
                </div>

            </div>
        </nav>

        <router-outlet></router-outlet>
        </div>
</div>
  <script>
      $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
  </script>